.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input[type='text'] {
    padding: 1rem;
    background: transparent;
    border: 0.3rem solid var(--white);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
}