:root {
  --white : #fff;
  --primary: #F59E0B
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
  color: var(--white);
  background-image: url('/bg_clima.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}